[user]
	name = Chris Scutcher
	signingkey = A8CEF069
[giggle]
	main-window-maximized = true
	main-window-geometry = 449x283+419+302
	history-view-vpane-position = 724
	main-window-view = HistoryView
	file-view-vpane-position = 961

[core]
	excludesfile = /home/cscutcher/.gitignore_global

[include]
	path = ~/.gitconfig.d.include
[merge]
	renamelimit = 2000
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
